<div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert"> reginstraion successfully.
  <button (click)="alerclose()" type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<body>
<div class="signup-form">
    <form [formGroup]="loginForm" (ngSubmit)="loginFormData()">
		<h2>Restaurant Signup</h2>
		<p>feel free to sign up</p>
		<hr>
    <div class="form-group">
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">
						<span class="fa fa-user"></span>
					</span>                    
				</div>
				<input type="text" class="form-control" name="username" placeholder="Username" required="required"formControlName="name">
				<span style="color:red;" *ngIf="name && name.invalid && name.touched">This field is required</span>
			</div>
    </div>
        <div class="form-group">
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">
						<i class="fa fa-paper-plane"></i>
					</span>                    
				</div>
				<input type="email" class="form-control" name="email" placeholder="Email Address" required="required" formControlName="email">
				<span style="color:red;" *ngIf="email && email.invalid && email.touched">This field is required</span>

			</div>
        </div>
		<div class="form-group">
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">
						<i class="fa fa-lock"></i>
					</span>                    
				</div>
				<input type="text" class="form-control" name="password" placeholder="Password" required="required" formControlName="password">
				<span style="color:red;" *ngIf="password && password.invalid && password.touched">This field is required</span>

			</div>
        </div>
		<div class="form-group">
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">
						<i class="fa fa-lock"></i>
						<i class="fa fa-check"></i>
					</span>                    
				</div>
				<input type="text" class="form-control" name="confirm_password" placeholder="Confirm Password" required="required" formControlName="Consfirmpassword">
				<span style="color:red;" *ngIf="Consfirmpassword && Consfirmpassword.invalid && Consfirmpassword.touched">This field is required</span>


			</div>
        </div>
		<div class="form-group">
            <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary btn-lg">Sign Up</button>
        </div>
       	<div class="text-center"> <span class="colorr">Already have an account? &nbsp;</span><a routerLink="/login">Login here</a></div>

    </form>
</div>
</body>