<p>list-resto works!</p>


<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">address</th>
      <th scope="col">operation</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let list of data">
      <th scope="row">{{list.id}}</th>
      <td>{{list.name}}</td>
      <td>{{list.address}}</td>
      <td><i (click)="deleteresto(list.id)" class="fa fa-trash" style="font-size:30px;color:red;"></i>
        <a routerLink="/update/{{list.id}}" class="fa fa-edit" style="font-size:30px;color:red;"></a>
      </td>
    </tr>
  </tbody>
</table>