<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" href="#">Restorant</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="add">Add restorant</a>
      <a class="nav-item nav-link" routerLink="list">List restorent</a>
      <a class="nav-item nav-link" routerLink="login">Login user</a>
      <a class="nav-item nav-link" routerLink="register">reginster user</a>
      <a class="nav-item nav-link" routerLink="update">update user</a>
    </div>
  </div>
</nav>

<div class="container">  
  <router-outlet></router-outlet>

  <footer>
    <p>register restaurant with us</p>
  </footer>

</div>